<div class="getdata" style="margin-bottom:30px;">
<%= link_to "Link Api",api_getdata_path,:class => "btn btn-info",:style => "color:white;" %>
</div>
<%= search_form_for @search, url: search_post_index_path, method: :post do |f| %>
<%= f.label :title_cont, "Title" %>
<%= f.text_field :title_cont %>
 <div class="actions"> <%= f.submit "search" %></div>
 <% end %>
<div class="row">
	<% @posts.each do |post| %>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<div class="caption">
				<h3><%= post.title %></h3>
				<img src=<%=post.image %>>
				<p><%= truncate(post.desc, length: 300) %></p><br>
				<p> <i> ( Nguồn <%= post.tobao.name %>)</i></p>
				<p><%= link_to 'Read More', post, :class=>"btn btn-primary" %></p>
			</div>
		</div>
	</div>
	<% end %>
</div>

<div style="clear: both;"></div>
